<!DOCTYPE html>
<html>
    <head>
        <title>Horoscope</title>
    </head>
    <body>
        <form action="/horoscope_results" method="GET">
            What is your name? <br/>
            <input type="text" name="users_name"><br/>
            
            When were you born? <br/>
            <select name="horoscope_sign">
                <option value="aries">Aries</option>
                <option value="taurus">Taurus</option>
                <option value="gemini">Gemini</option>
                <option value="cancer">Cancer</option>
                <option value="leo">Leo</option>
                <option value="virgo">Virgo</option>
                <option value="libra">Libra</option>
                <option value="scorpio">Scorpio</option>
                <option value="sagittarius">Sagittarius</option>
                <option value="capricorn">Capricorn</option>
                <option value="aquarius">Aquarius</option>
                <option value="pisces">Pisces</option>
            </select>
            
            <input type="submit" value="Submit!">
        </form>
    </body>
</html>
